.grid{
   
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
        gap: 20px;
        padding: 10px;
    
}

.containerInfoTable {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #0E3062;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0px 0px 20px 0px;
        text-align: center;
        font-family: "HindVadodara-Bold";
    }
    
    .containerInfoTable h2 {
        margin: 0;
        font-size: 16px;
        color:white
    }
    
    .containerInfoTable h3 {
        margin: 10px 0;
        font-size: 16px;
        color:white
    }
    
    .containerInfoTable p {
        margin: 5px 0;
        font-size: 16px;
        color:white
    }
    
    .containerImgTable{
        img{
                width: 50px;
        }
    }
    .flexRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
    }
    .containerData{
        font-family: "HindVadodara-Bold";
        .imgRouter{
            width: 35px;
        }
    }

    .imgP{
        img{
            width: 15px;
        }
    }

   .containerLet{
        border-radius: 40px;
        border: 4px solid rgb(63, 62, 62);
       
        .letEnable, .letDisable{
            padding: 10px;
            border-radius: 40px;

        }
        .letEnable{
            background-color: rgb(2, 245, 42);
          
            animation: moveRight 300ms infinite alternate;
            position: relative;
        }
        .letDisable{
            background-color: rgb(146, 144, 144);
        }
    }

    @keyframes moveRight {
        0% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
.filtrobutton{
    width: 150px;
    height: 50px;
}
   