.grid{
   
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
        gap: 0px;
        padding: 0px;
        /*background-color: aqua;*/
    
}

.containerInfoTable {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-image: url('/img/shiny.svg');
     
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgb(0, 0, 0);
        margin: 0px 0px 10px 0px;
        text-align: center;
        font-family: "HindVadodara-Bold";
    }
    
    .containerInfoTable h2 {
        margin: 0;
        font-size: 16px;
        color:white;
        width: 100%;
        letter-spacing: 2px;
        
    }
    
    .containerInfoTable h3 {
        margin: 10px 0;
        font-size: 16px;
        color:white;
       
        font-style: italic;
        letter-spacing: 3px;

    }
    
    .containerInfoTable p {
        margin: 5px 0;
        font-size: 16px;
        color:white
    }
    
    .containerImgTable{
        img{
                width: 50px;
        }
    }
    .flexRow{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 8px;
        
    }
    .containerData{
        font-family: "HindVadodara-Bold";
        .imgRouter{
            width: 35px;
        }
    }

    .imgP{
        img{
            width: 15px;
        }
    }

   .containerLet{
        border-radius: 40px;
        border: 4px solid rgb(63, 62, 62);
        
        .letEnable, .letDisable{
            padding: 10px;
            border-radius: 40px;

        }
        .letEnable{
            background-color: rgb(2, 245, 42);
            
            animation: moveRight 600ms infinite alternate;
            position: relative;
        }
        .letDisable{
            background-color: rgb(146, 144, 144);
        }
    }

    @keyframes moveRight {
        0% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
.filtrobutton{
   
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    color: rgb(1, 74, 92);
    background-color:#fffffff6;
    font-family: "HindVadodara-Bold";
    font-size: 1rem;
    border: 2px solid rgb(0, 105, 167);
    transition: all 300ms;
}
.filtrobutton:hover{
    box-shadow: 0px 0px 5px rgb(0, 102, 255);
}
.conteinerGateways{
    /*background-color: greenyellow;*/
    padding: 0px;
    margin: 10px;
    width: auto;
    font-size: 15px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: 10px;
    img{
        width: 25px;
    }
}
.downloadbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 10px;
    background-color: #fffffff6;
    color: rgb(1, 74, 92);
    column-gap: 10px;
    font-family: "HindVadodara-Bold";
    font-size: 1rem;
    border: 2px solid rgb(0, 105, 167);
    transition: all 300ms;
    img{
        width: 25px;
    }
}
.downloadbutton:hover{
    box-shadow: 0px 0px 5px rgb(0, 102, 255);
}
.containerBtn{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 15px;
    column-gap: 10px;
    
.filtrobutton:hover{

}
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}



